.title {
  padding: 16px 16px 24px;
}

.fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  max-height: 500px;
}

.card {
  display: flex;
  margin: auto;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}
