<!-- <div class="grid">
  <div class="col-6"> -->

    <div class="login-container">
      <div class="card login-card">
        <div class="login-logo">
          <svg width="150" height="90" viewBox="0 0 106 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- Add your svg logo here so it could change based on the application theme -->
          </svg>
        </div>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <!-- Username Input -->
          <div class="p-fluid">
            <div class="field">
              <label for="username">{{ 'username' | translate }}</label>
              <input id="username" pInputText [formControlName]="'username'" class="w-full"/>
            </div>

            <!-- Password Input -->
            <div class="field">
              <label for="password">{{ 'password' | translate }}</label>
              <p-password id="password" [formControlName]="'password'" [toggleMask]="true" [feedback]="false"/>
            </div>
          </div>

          <!-- Submit Button -->
          <p-button label="{{ 'signIn' | translate }}" icon="pi pi-sign-in" type="submit" class="align-self-end"
                    [disabled]="!loginForm.valid"></p-button>
        </form>
      </div>
    </div>
  <!-- </div>
  <div class="col-6 login-background">
  </div>
</div> -->
