.menu-toggle-button {
  border: none;
  left: 0;
  position: absolute;
}

::ng-deep .p-togglebutton.p-button.p-highlight {
  background: transparent;
  border: none;
}

::ng-deep .p-togglebutton.p-button {
  border: none;
}

::ng-deep .p-togglebutton.p-button .p-button-icon-left, .p-togglebutton.p-button .p-button-icon-right {
  color: var(--text-color);
}

::ng-deep .p-button:focus-visible {
  border: none;
  box-shadow: none;
}

::ng-deep .p-button:focus {
  border: none;
  box-shadow: none;
}
